<%- include ("../partials/header") %>
    
<div class=container>
    <h1><%= bookObject[0].title %></h1>
    <div id="accordion" class="container"></div>
</div>


<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
<script type="text/javascript">

//accordion
const accordion = document.getElementById("accordion");

//find out which book we're on (object send with route)
const bookObject = <%- JSON.stringify(bookObject[0]) %>

//make a list of objects (files of the associated book)
const fileList = bookObject.tracks;
let trackTitle;
let trackNumber;

//current user
const currentUser = <%- JSON.stringify(currentUser) %>
let currentUserTracklist;
currentUser.books.forEach(book => {
    if (book.title === bookObject.title){
        currentUserTracklist = book.tracks;
        console.log(currentUserTracklist);
    } else {
        console.log("books don'tmatch")
    }
});

//function that creates a panel for every source file of the fileList without setting the source
function createPanels(accordion){
    for (i=0; i < fileList.length; i++){
        //show the track's title in the acc-header while creating the panel
        trackTitle = fileList[i].title;
        let trackNumberSplitted = fileList[i].filename.split(".");
        trackNumber = trackNumberSplitted[0];
        accordion.innerHTML += `<div class="panel"><div class="acc-header" id="${trackNumber}">${trackTitle}</div><div class="acc-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut nulla ligula. Integer eleifend tortor lorem, eu mollis metus iaculis sed. Sed dui ligula, interdum eu turpis at, consectetur tincidunt lacus. Sed nec egestas lorem. Praesent mattis augue sit amet est aliquam tempus.</p><audio class="js-player"><source src="defaultsource"></audio></div></div>`;
    }
}

createPanels(accordion);

//event listeneners for creation of plyr audio players
document.addEventListener('DOMContentLoaded', () => {
    const controls = [
        'rewind',
        'play',
        'fast-forward',
        'progress',
        'current-time',
        'duration',
        'settings',
        'download',
        'volume'
    ]
    const player = Plyr.setup('.js-player', { controls });
});

function initAccordion(accordionElem){

    //for every element in this row, a default panel is created

    //when panel is clicked, handlePanelClick is called.          
    function handlePanelClick(event){
        if (event.currentTarget.parentElement.classList.contains("active")) {
            hidePanel(event.currentTarget.parentElement);
        } else {
            showPanel(event.currentTarget.parentElement);
        }
    }
  
  //show new panel & hide current one    
    function showPanel(panel){
      //Hide current one. First time it will be null. 
       var expandedPanel = accordionElem.querySelector(".active");
       if (expandedPanel){
           expandedPanel.classList.remove("active");
       } 
       //Show new one
       panel.classList.add("active");
       //set source of audio player
       var elm = panel.querySelector('div[class~="acc-header"]');
       var trackNumber = elm.id;
       console.log(trackNumber);
       panel.querySelector(".js-player").innerHTML = `<source src="/audio/${trackNumber}">`
    }

    function hidePanel(panel){
        panel.classList.remove("active");
        panel.querySelector(".js-player").innerHTML = '<source src="defaultsource">';
    }
    
    //loop over the panels to create event listeners that fire the function
    var allPanelElems = accordionElem.querySelectorAll(".panel");
    var allHeaderElems = accordionElem.querySelectorAll(".acc-header");
    for (var i = 0, len = allHeaderElems.length; i < len; i++){
        allHeaderElems[i].addEventListener("click", handlePanelClick);
    }
    //By Default Show first panel --> No, show the panel of the user
    //showPanel(allPanelElems[0]);
    for(i=0; i < currentUserTracklist.length; i++){
        if(!currentUserTracklist[i].played){
            //This is false so we play it and stop the loop
            console.log("This is false so we play it and stop the loop");
            showPanel(allPanelElems[i]);
            return;
        }
    }
}

initAccordion(accordion);

</script>

<%- include ("../partials/footer") %>